.dark{
    background-color: #000;
    margin-top: 0px;
}
.ssldr{
  align-items: center;
  display:flex;
  position:relative; 
  // zIndex:9;
}
.secondsecond{
    width: 100%;
    margin: 0 auto;
    height: 90vh;
}

.headingtext {  
    vertical-align: middle;
    margin: 100px 0px;
    font-family: "Source Sans Pro", sans-serif;
    h2{
        color: #fff;
        background-image: linear-gradient(to right, #e62222, #e62222, #ef6d35, #ef6d35, #ef6d35);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        letter-spacing: .10px;
        // font-size: 48px!important;
    }
    p{
        margin: 30px 0px 50px;
        color: #fff;

    }
    a{
        // animation: color-change 2s linear infinite;
        // border:solid 3px #ff1493;
        // padding: 11px 30px;
        // color: #fff;
        // border-radius: 5px;
    }
}
@keyframes color-change {
    0%,100%{
      border-color:#ff1493;
    }
  
    25%{
      border-color:#f3ea6f;
    }
    
    50%{
      border-color:#8557e7;
    }
    
    75%{
      border-color:#f3ea6f;
    }
  }
  @media only screen and (max-width: 767px){
    .headingtext {
      margin: 20px 0px;
  } }


  .buttn {
    border-radius: 4px;
    background-color: #a2342d;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 18px;
    padding: 10px 25px;
    transition: all 0.5s;
    cursor: pointer;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  }
  
 .buttn{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .buttn:after {
    content: '»»';
    position: absolute;
    opacity: 0;  
    top: 14px;
    right: -20px;
    transition: 0.5s;
  }
  
  .buttn:hover{
    padding-right: 24px;
    padding-left:8px;
  }
  
  .buttn:hover:after {
      opacity: 1;
      right: 5px;
      margin-top: -4px;
  }
  @media only screen and (max-width: 767px){
  .headingtext h2{
    font-size: 36px;
  } }