
.image-section1 .container h1.banner-title {
    margin: 0 !important;
    padding: 0 !important;

    
}

.image-section1 {
    display: flex;
    align-items: center;
}


/* background-Section*/
.image-section1{
    background-image: url("/intelligentautomationimages/blockchain-banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:99vh;
    
  }

  .profile-pic{

    border-radius: 50px;
  }

  .author-detail {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.auth-name {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

.auth-post {
    margin-bottom: 15px;
}

.bullets li {
    background: url("/intelligentautomationimages/red-arw.png") no-repeat 0 5px;
    padding: 0 0 12px 25px !important;
    
}
.space-section{
margin-bottom:30px;

}
 .banner-title {
    font-size: 45px;
    font-weight: 900;
    color: #fff !important;
    padding-top: 197px;
    padding-left: 30px;
}
.paragraph-section1 {
    margin-top: 27px;
    margin-bottom: 2rem;
    text-align: justify !important;
   
    padding-top: 50px;
}


@media only screen and (max-width: 767px){
    .banner-title{
        font-size: 13px;
        font-weight: 900;
        color: #fff;
        padding-top: 201px;
        padding-left: 9px;
    }
    /*.image-section1 {
        background-image: url(/intelligentautomationimages/blockchain-banner.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 114vh;
        width: 427px;
    }

    .image-section-box {
        height: 200px;
        width: 144px;
        margin-left: 42px;
    }*/
    .image-section1 .container h1.banner-title {
        margin: 7px 16px !important;
        padding: 0 !important;
    }
}



