@keyframes modal-video {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes modal-video-inner {
    from {
        transform: translate(0, 100px);
    }
    to {
        transform: translate(0, 0);
    }
}
.modal-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000000;
    cursor: pointer;
    opacity: 1;
    animation-timing-function: ease-out;
    animation-duration: 0.3s;
    animation-name: modal-video;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -ms-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}
.modal-video-effect-exit {
    opacity: 0;
}
.modal-video-effect-exit .modal-video-movie-wrap {
    -webkit-transform: translate(0, 100px);
    -moz-transform: translate(0, 100px);
    -ms-transform: translate(0, 100px);
    -o-transform: translate(0, 100px);
    transform: translate(0, 100px);
}
.modal-video-body {
    max-width: 940px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: table;
}
.modal-video-inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
.modal-video-movie-wrap {
    width: 100%;
    height: 0;
    position: relative;
    padding-bottom: 56.25%;
    background-color: #333;
    animation-timing-function: ease-out;
    animation-duration: 0.3s;
    animation-name: modal-video-inner;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -ms-transition: -ms-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}
.modal-video-movie-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.modal-video-close-btn {
    position: absolute;
    z-index: 2;
    top: -35px;
    right: -35px;
    display: inline-block;
    width: 35px;
    height: 35px;
    overflow: hidden;
    border: none;
    background: transparent;
}
.modal-video-close-btn:before {
    transform: rotate(45deg);
}
.modal-video-close-btn:after {
    transform: rotate(-45deg);
}
.modal-video-close-btn:before,
.modal-video-close-btn:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #fff;
    border-radius: 5px;
    margin-top: -6px;
}
.main-bar-wraper .custom-logo{
	display:none;
}
.main-bar-wraper.is-fixed .custom-logo{
	display:block;
}
.main-bar-wraper.is-fixed .custom-logo-white{
	display:none;
}
.bg-pink{
    background-color: #e75a85;
}
.text-para{
    color: aliceblue;
}
.button{
    animation: color-change 2s linear infinite;
        border:solid 3px #ff1493;
        padding: 11px 30px;
        color: #fff;
        border-radius: 5px;
}
@keyframes color-change {
    0%,100%{
      border-color:#ff1493;
    }
  
    25%{
      border-color:#f3ea6f;
    }
    
    50%{
      border-color:#8557e7;
    }
    
    75%{
      border-color:#f3ea6f;
    }
  }
  .para-text{
      font-size: 13px;
      margin-top: 15px  !important;
  }
  .title{
      font-size: 16px !important;
      font-weight: 800 !important;
      font-family:sans-serif!important;
  }
  .slider-border{
    border: 4px solid #fff;
    z-index: 999;
    width: 600px;
    height: 400px;
    position: relative;
  }
  .slider-texto{
    position: absolute;
    padding: 0px 25px;
    /* left: 28%; */
    z-index: 9999;
    top: 30%;
  }
  .slider-texto h5{
      color: #fff;
      font-weight: 700;
      font-size: 34px;
      font-family: sans-serif!important;
  }
  .slider-texto p{
      color: #fff;
    font-family:sans-serif!important;
    font-size: 18px;
    font-weight: 300!important;
    line-height: 25px;
    padding-bottom: 15px;
  }
  /* .slider-texto a{
    border-radius: 5px;
    padding: 10px 25px;
    color: #fff;
    margin-top: 15px !important;
    position: relative;
    top: 50px;
    -webkit-animation: second_color-change__2LWwo 2s linear infinite;
    animation: second_color-change__2LWwo 2s linear infinite;
    border: solid 3px #ff1493;
    font-size: 18px;
    font-family:sans-serif;
  } */
  .slick-slider.leader_tht.slick-initialized .slick-prev:before {
    display: none;
}
.slick-slider.leader_tht.slick-initialized  .slick-next:before{
    display: none;
}
.omra-leadersection .col-6 .slick-slider.slick-initialized button {position: absolute !important;
    bottom: 0px !important;top: 100%!important;right: 5% !important;margin-top: 50px;}

.omra-leadersection .col-6 .slick-slider.slick-initialized button.slick-arrow.slick-prev {right: 18px !important;left: 82% !important;}

.second_headingtext___BOCw p {
    margin: 30px 0px 50px;
    color: #fff;
    font-size: 18px;
    font-family: sans-serif!important;
    font-weight: 300!important;
    font-weight: 400;
}
.second_headingtext___BOCw h2{
    font-size: 48px!important;
}
.four_headingtext__12fD4 {
    vertical-align: middle;
    margin: 100px 0px;
    font-family:sans-serif!important;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: .5px;
}
.is-fixed .main-bar {
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.5s;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(0px) !important;
    transition: all .3s ease-in;
}

@media only screen and (max-width: 767px){
.slider-border{
    border: 2px solid #fff;
    width: 100%;
  } }

  @media only screen and (max-width: 767px){ .second_secondsecond__1Msjx{
    height: auto!important;
  } }
@media only screen and (max-width: 767px){
.second_headingtext___BOCw h2 {
    font-size: 36px!important;
}
.slider-texto{
      padding: 0px 4px;  
}
.slider-texto h5{
    text-align: center;
}
.slider-texto p{
    text-align: center;
}
.omra-leadersection .col-6 .slick-slider.slick-initialized button.slick-arrow.slick-prev {
   left: 76% !important;}
   .omra-leadersection .col-6 .slick-slider.slick-initialized button {
   top: 95%!important;}

}

.page-content.bg-white {
    overflow: hidden;
}
@media only screen and (max-width: 767px){
.second_headingtext___BOCw p {
    font-size: 16px;
} 
.slider-texto p{
    font-size: 16px; 
}
.four_headingtext__12fD4{
    font-size: 16px; 
}
.m-b0{
    font-size: 16px; 
}
}